.add{
    width:70px;
    height:35px;
    position:absolute;
    bottom:-15px;
    color:#61B246;
    border: none;
    right:10px;
    background-color:white;
    text-decoration: none;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.add:hover{
    color:white;
    background-color:#61B246;
}
.afterAdd:hover{
    color:white;
    background-color:#61B246;
}
.afterAdd{
    width:20px;
    height:35px;
    position:absolute;
    bottom:-15px;
    color:#61B246;
    border: none;
    right:10px;
    background-color:white;
    text-decoration: none;
    text-align: center;
    font-size:18px;
    font-weight:bold;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    float: left;
}
.afterAddText{
    width:20px;
    height:35px;
    position:absolute;
    bottom:-15px;
    color:#61B246;
    border: none;
    right:10px;
    background-color:white;
    text-decoration: none;
    text-align: center;
    font-size:18px;
    font-weight:bold;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    float: left;
}
